In [1]:
# Import the necessary packages
import numpy as np
import pandas as pd

In [2]:
# Load the data
data = pd.read_csv("http://rcs.bu.edu/examples/python/data_analysis/Salaries.csv")

# Display the first 3 rows
data.head(3)

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515